<!DOCTYPE html>
<html>
<head>
	<title>Furnitures</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  <style type="text/css">
        .carousel-inner img{
            width: 100%;
            height: 400px;
        }
  </style>
</head>
<body>

     <header class="row">
       <div class="col-md-12">
       <nav class="navbar navbar-expand-lg navbar-light bg-info">
          <a class="navbar-brand" href="/">Furnitures</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>


              <li class="nav-item">
                  <a class="nav-link" href="index.html#">About</a>
              </li>

               <li class="nav-item">
                  <a class="nav-link" href="/login">login</a>
              </li>

            </ul>
            <form class="form-inline">
              <input class="form-control" placeholder="Search" aria-label="Search" type="text">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav> 
        </div>
     </header>

     <header class="row">
      <div class="col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img  src="../static/images/slide2.jpg" class="img-fluid">
                <div class="carousel-caption">
                      <h2 class="text-danger">We provide good and tasty foods.. Welcome!</h2>
                </div>
              </div>
              <div class="carousel-item">
                <img  src="../static/images/slide1.jpg" class="img-fluid">
                 <div class="carousel-caption">
                      <h2>We deliver 24 hours service</h2>
                </div>
              </div>

               <div class="carousel-item">
                <img  src="../static/images/slide4.jpg" class="img-fluid">
                 <div class="carousel-caption">
                      <h2>Our Staff is commited to excellent work!</h2>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          </div>
     </header>

<!-- grocery, salon,  -->
    
     <hr>
     <br><br>
     <h2 class="text-center">Featured Furnitures</h2>
     <p class="text-center">Below is the featured furniture of the week..Please visit all our branches and purchase at affordable prices</p>

    <section class="row" style="padding: 2%;">
      <div class="col-md-8">
         <h1 style="font-size: 50px; color: orange;">
              First featurette heading. It'll blow your mind</h1>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
         <h2>Only @ 25700KES</h2>
         <a href="" class="btn btn-outline-danger">Purchase Now</a>
      </div>

      <div class="col-md-4">
         <img src="../static/images/pic6.jpg" class=" image-fluid z-depth-1 wow flipInX" width="100%">
      </div>
    </section>



     <h2 class="text-center">Furniture Available</h2>
     <p class="text-center">Below are our furnitures of offer this holiday..Plase visit all our branches and purchase at affordable prices</p>
     <section class="row" style="padding: 2%;">
     	 <div class="col-md-4 text-center">
            <img src="../static/images/pic4.jpg" class="img-fluid">
             <h3>Chairs</h3> 
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exculpa qui officia deserunt mollit anim id est laborum.</p> 
             <a href="chairs.html" class="btn btn-outline-danger">Read more >></a>
     	 </div>

     	 <div class="col-md-4 text-center">
              <img src="../static/images/pic4.jpg" class="img-fluid">
             <h3>Tables</h3> 
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exculpa qui officia deserunt mollit anim id est laborum.</p> 
             <a href="" class="btn btn-outline-danger">Read more >></a>
     	 </div>

     	 <div class="col-md-4 text-center">
              <img src="../static/images/pic4.jpg" class="img-fluid">
             <h3>Beds</h3> 
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exculpa qui officia deserunt mollit anim id est laborum.</p> 
             <a href="" class="btn btn-outline-danger">Read more >></a>
     	 </div>
     </section>		



     
    <hr>
    <br><br><br>
     <h2 class="text-center">New Arrivals</h2>
     <p class="text-center">Below is the featured furniture of the week..Please visit all our branches and purchase at affordable prices</p>
     <section class="row" style="padding: 2%;">
            <div class="col-md-4">
                <img src="../static/images/pic3.jpeg" class="img-fluid" width="100%"> <br>
            </div>

            <div class="col-md-8">
                 <h1>Oh yeah, it's that good. See for yourself.</h1>
                 <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
     </section>

     

     <hr>
     <br><br><br>
     <h2 class="text-center">Latest News</h2>
     <section class="row" style="padding: 2%;">
          <div class="col-md-8">
            <h1>And lastly, this one. Checkmate</h1>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

             <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula  porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
 
          <div class="col-md-4">
               <img src="../static/images/pic7.jpg" class="img-fluid" width="100%"> <br>
          </div>
     </section>


     <h2 class="text-center">Our team</h2>
     <p class="text-center">Below are our furnitures of offer this holiday..Plase visit all our branches and purchase at affordable prices</p>
     <section class="row" style="padding: 2%;">
       <div class="col-md-4 text-center">
            <img src="../static/images/index.png" class="img-fluid">
             <h3>John Allan</h3> 
             <h5>Manager</h5>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exculpa qui officia deserunt mollit anim id est laborum.</p> 
          
       </div>

       <div class="col-md-4 text-center">
              <img src="../static/images/index.png" class="img-fluid">
             <h3>Ann James</h3> 
             <h5>Marketer</h5>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exculpa qui officia deserunt mollit anim id est laborum.</p> 
         
       </div>

       <div class="col-md-4 text-center">
              <img src="../static/images/index.png" class="img-fluid">
             <h3>Hellen Johnson</h3>
             <h5>Business Development</h5> 
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
             tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exculpa qui officia deserunt mollit anim id est laborum.</p> 
             <a href="" class="btn btn-outline-danger">Read more >></a>
       </div>
     </section> 




     
    <br><br><br>
   <footer class="row" style="padding: 2%; background-color: #BDBDBD; color: #000000;"> 
         <div class="col-md-4">
              <img src="../static/images/logo.png" class="img-fluid" width="80%"> <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco.</p>
         </div>

         <div class="col-md-4">
              <h4>Xyzee furnitures</h4>
              <p>We are open from Monday - Friday 8am - 8pm</p>
              <p>We remain closed on Weekends and Public holidays</p>
              <b>Office line: 020 456 456</b> <br>
              <i>Tel: 0725 789 562</i> <br>
              <i>Email: info@xyzee.co.ke</i>
         </div>

         <div class="col-md-4">
               <!-- iconfinder.com -->
               <a href="http://twitter.com/Modcomkenya">
                    <img src="../static/images/twitter.png" class="img-fluid" width="20%">
               </a>

                <a href="http://skype.com">
                    <img src="../static/images/skype.png" class="img-fluid" width="20%">
               </a>

                <a href="http://youtube.com/">
                    <img src="../static/images/youtube.png" class="img-fluid" width="20%">
               </a>

                 <a href="http://google.com/">
                    <img src="../static/images/google.png" class="img-fluid" width="20%">
               </a>
         </div>
   </footer>

   <footer class="row" style="background-color: #757575; color: #ffffff; padding: 2%;">
         <h6>All Rights Reserved. Copyright 2019. Developed by MODCOM : Customer Care: 0725 888 888</h6>
   </footer>





  <script type="text/javascript" src="../static/js/jQuery.js"></script>
<script type="text/javascript" src="../static/js/popper.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
<script type="text/javascript" src="../static/js/md.js"></script>
</body>
</html>