<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
     <style>
        form{
        max-width: 1000px;
        padding-left: 400px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
 <header class="row">
       <div class="col-md-12">
       <nav class="navbar navbar-expand-lg navbar-light bg-info">
          <a class="navbar-brand" href="/">Furnitures</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="/view_profile">View Profile</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="/view">View</a>
              </li>



            </ul>

            <form class="form-inline">
              <input class="form-control" placeholder="Search" aria-label="Search" type="text">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
        </div>
     </header>
<h3 class="alert-warning">{{msg}}</h3>
<div class="row">
    <div class="col-md-12">
        <table class="table-responsive-lg table table-hover table-dark table-striped">
            <tr>
                <th>Username</th>
                 <th>Email</th>
                <th>Phone Number</th>
                <th>ID Number</th>
                <th>Password</th>
                <th>Gender</th>
                <th>Country</th>

            </tr>
            {% for row in rows%}
            <tr>
                <td>{{row[0]}}</td>
                 <td>{{row[1]}}</td>
                 <td>{{row[2]}}</td>
                 <td>{{row[3]}}</td>
                 <td>{{row[4]}}</td>
                 <td>{{row[5]}}</td>
                 <td>{{row[6]}}</td>
            </tr>
            {% endfor %}

        </table>

    </div>
</div>
</body>
</html>